.message__Sender{
    width: 95%;
    background-color: white;
    padding:12px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px #bdbdbd;
}

.messageSender__top{
    border-bottom:1px solid whitesmoke;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px;
    padding:12 0px;
    align-items: center;
    grid-gap: 7px;
    padding-bottom: 10px;
    justify-content: space-between;
}
.messageSener__input{
    height:40px;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}


.messageSender__avatar{
    height: 40px;
    border-radius: 100px;
}







/* messageSender__bottom */
.messageSender__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px;
    align-items: center;
    padding: 12px 0px;
    justify-content: space-around;
    margin-top: 12px;
}
.messageSender__option{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding:8px;
    border-radius: 8px;
}
.messageSender__option:hover{
    background-color: whitesmoke;
}



.messageSender__option > .a{
    color:green;
}
.messageSender__option > .b{
    color:blue;
}
.messageSender__option > .c{
    color:rgb(255, 187, 0);
}

.messageSender__option > p{
    margin-left: 5px;
}